.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.changed {
    background-color: green;
    color: white;
}

.active {
    background-color: lightcoral;
}

.color1 {
    background-color: aquamarine;
}

.color2 {
    background-color: coral;
}

.color3 {
    background-color: deepskyblue;
}