.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}